<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" routerLink="/">Home Component</a>
    </li>
    
    <li class="nav-item">
        <a class="nav-link" routerLink="/parent">Parent Component</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" routerLink="/directive">Directive Component</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" routerLink="/employee">Employee Component</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" routerLink="/department">Department Component</a>
    </li>
    <li class="nav-item">
        <a  class="nav-link" routerLink="/fetch">Call API</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" [routerLink]="['parent','1']" [queryParams]="{employeeId:1}" >Edit Parent</a>
    </li>
  </ul>



<router-outlet></router-outlet>
